[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[requires]

python_version = "3.5"


[packages]

flask = "*"
tensorflow-gpu = "<1.5"
tensorlayer = "*"
